<html><head>
  <link rel="stylesheet" href="styles.css" />
  <meta name="bms.model" content="model/machine.bcm" />
  <meta name="bms.json" content="observers.json" />
  <meta name="bms.script" content="script.groovy" />
 </head>
<body>

<svg width="325" height="430" xmlns="http://www.w3.org/2000/svg" id="0c557fe5-09d8-4ea8-ad89-f31eeab1199b">
 <!-- Created with SVG-edit - http://svg-edit.googlecode.com/ -->

 <g>
  <title>background</title>
  <rect x="-1" y="-1" width="327" height="432" id="canvas_background" fill="none" />
 </g>
 <g>
  <title>Layer 1</title>
 </g>
</svg>



</body></html>